body {
  font-family: 'poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.options {
  margin-bottom: 10px;
}

#password {
  margin-top: 20px;
  font-size: 20px;
  word-break: break-all;
  color: #333;
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 20px;
}
#password:hover {
  background: #000000 ;
  transition :  all .42s  ease;
}
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: #fff;
  color: #100;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: #000;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}